<!--
<!DOCTYPE html>
<html lang="en"xmlns:th="http:www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>User Dashboard</title>
</head>
<body>
<h1>Welcome you are normal user,</h1>
<h1>This is your private dashboard</h1>

<h1>User Name <span th:text="${user.name}"></span></h1>
<h1>User Email <span th:text="${user.email}"></span></h1>
<h1> <a href="" th:href="@{/logout}">Logout</a></h1>
</body>
</html>-->
<!--
<!DOCTYPE html>
<html lang="en" xmlns:th="http:www.thymeleaf.org" th:replace="category/base::layout(~{::section})">
<head>
    <meta charset="UTF-8">
    <title>This is Home page</title>
</head>
<body>
<section>
    <h1>This is your private dashboard</h1>
</section>
</body>
</html>-->
<!DOCTYPE html>
<html lang="en" xmlns:th="http:www.thymeleaf.org" th:replace="category/base::layout(~{::section})">
<head>
    <meta charset="UTF-8">
    <title>This is Home page</title>
</head>
<body>
<section>
    <div class="container">
        <div class="card">
            <div class="card-body my-5">
                <div class="container text-center">
                    <img class="" style="width: 80px;" src="" th:src="@{/img/category.png}" alt=""/>
                </div>
                <h1 class="text-center mt-3 text-secondary font-italic font-weight-light">Start Adding your category...</h1>
                <a th:href="@{/user/add-category}" class="btn btn-primary btn-block mt-3 text-uppercase">Add new category</a>
            </div>
        </div>
    </div>
    <script>
        $(document).ready(()=>{
     $(".item").removeClass("active");
     $("#home-link").addClass("active");
    });
    </script>
</section>
</body>
</html>
