<!DOCTYPE html>
<html lang="en" xmlns:th="http:www.thymeleaf.org" th:replace="contact/base::layout(~{::section})">
<head>
  <meta charset="UTF-8">
  <title>User Dashboard</title>
</head>
<body>
<section>
  <div class="card mr-5 ml-3" >
    <div class="card-body">
      <h1 class="text-center">Your contacts</h1>
<!--search-->
        <div class="search-container my-3">
            <input onkeyup="searchContact()" id="search-input" type="text" class="form-control" placeholder="search your contacts here">
            <div class="search-result">
             <!--   result goes here-->
            </div>

        </div>
        <div style="overflow-x:auto;">
        <div class="table-responsive-md">

      <table border="1" class="table table-striped table-hover">
          <thead>

       <!-- <thead class="thead-dark">-->
        <tr>
          <th scope="col"><a th:href="@{'/user/page/'+${currentPage}+'?sortField=cId&sortDir='+${reverseSortDir}}">#ID</a></th>
          <th scope="col"><a th:href="@{'/user/page/'+${currentPage}+'?sortField=name&sortDir='+${reverseSortDir}}"> Name</a>
             </th>
            <th scope="col"><a th:href="@{'/user/page/'+${currentPage}+'?sortField=email&sortDir='+${reverseSortDir}}">Email</a>
              </th>
          <th scope="col"><a th:href="@{'/user/page/'+${currentPage}+'?sortField=phone&sortDir='+${reverseSortDir}}">Phone</a>
             </th>
          <th scope="col">Action</th>
        </tr>
        </thead>
        <tbody>

        <tr th:each="contact :${contacts}"><!--//you can write c-->
          <th scope="row" th:text="${'SSM2022'+contact.cId}">1</th><!--'SSMUSER'in place of SS..string-->
          <td>
            <img src="" class="my_profile_picture" th:src="@{'/img/'+${contact.image}}" alt="profile photo">
            <span th:text="${contact.name}"></span></td>
            <td>
          <!--      <a href="#" th:href="@{'/user/'+${contact.cId}+'/contact'}">-->

                    <a href="#" th:href="@{'/user/'+${contact.cId}+'/contact'}">
                        <span th:text="${contact.email}"></span></a></a></td>
          <td th:text="${contact.phone}">@mdo</td>

<td>
  <a href="#" th:onclick="|deleteContact(${contact.cId})|" class="btn btn-danger btn-sm"><i class="fa-solid fa-trash-can"></i></a>
  <form method="post" th:action="@{'/user/update-contact/'+${contact.cId}}" class="mt-2">
            <button type="submit" class="btn btn-primary btn-sm"><i class="fa-sharp fa-solid fa-square-pen"></i>

 </button></form> </td>

        </tr>

        </tbody>
      </table>
            <div/>
        </div>
            </div>
     <!-- Pagination part-->
    <!--  <nav aria-label="Page navigation example">
        <ul class="pagination">
          &lt;!&ndash;'?sortField='+${sortField}+'&sortDirection='+${sortDirection}&ndash;&gt;
          <li th:if="${currentPage !=0}" class="page-item"><a th:href="@{'/user/page/'+${currentPage-1}+'?sortField='+${sortField}+'&sortDir='+${sortDir}}" class="page-link" href="#">Previous</a></li>

          <li th:classappend="${currentPage==i-1?'active':''}" th:each="i:${#numbers.sequence(1,totalPages)}" class="page-item"><a th:href="@{'/user/page/'+${currentPage+1}+'?sortField='+${sortField}+'&sortDir='+${sortDir}}" class="page-link" href="#"><span th:text="${i}"></span></a></li>


          <li th:if="${currentPage+1 !=totalPages }" class="page-item"><a class="page-link" href="#">Next</a></li>
        </ul>
      </nav>
    </div>
  </div>-->
        <!--//this is pagination part and sorting part-->
        <div th:if="${totalPages>1}">
            <div class="row col-sm-10">
                <div class="col-sm-1">
                    Total Rows:[[${totalItems}]]
                </div>
                <div class="col-sm-1">
    <span th:each="i:${#numbers.sequence(1,totalPages)}">
      <a th:if="${currentPage != i}" th:href="@{'/user/page/'+${i} +'?sortField='+${sortField}+'&sortDir='+${sortDir}}">[[${i}]]</a>
      <span th:unless="${currentPage !=i}">[[${i}]]</span> &nbsp;&nbsp;
    </span>
                </div>
                <div class="col-sm-1">
                    <a th:if="${currentPage <totalPages}" th:href="@{'/user/page/'+${currentPage +1}+'?sortField='+${sortField}+'&sortDir='+${sortDir}}">Next</a>
                    <span th:unless="${currentPage<totalPages}">Next</span>
                </div>
                <div class="col-sm-1">
                    <a th:if="${currentPage <totalPages}" th:href="@{'/user/page/'+${currentPage}+'?sortField='+${sortField}+'&sortDir='+${sortDir}}">Last</a>
                    <span th:unless="${currentPage<totalPages}">Last</span>
                </div>

            </div>
        </div>
    </div>
    </div>
    <script>
        $(document).ready(()=>{
     $(".item").removeClass("active");
     $("#contacts-link").addClass("active");
    });
    </script>

</section>
</body>
</html>